body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.dialog-box {
	padding-top: 15px;
	font-size: 1.3em;
	font-weight: bold;
	display: block;
	position: fixed;
	background-color: black;
	width: 30%;
	height: 15%;
	min-width: 350px;
	border: 4px solid #666;
	border-radius: 7px;
	z-index: 1;
	color: #fff;
	box-shadow: 3px 3px 20px 3px black;
	text-align: center;
}
#error {
	top: 38%;
	left: 34%;
	min-height: 100px;
}
#reset {
	padding-top: 0px;
	top: 32%;
	left: 34%;
	min-height: 230px;
}
#success {
	top: 34%;
	left: 34%;
	min-height: 200px;
}
.dialog-box input {
	width: 300px;
	height: 30px;
	font-weight: bold;
	font-size: 1.0em;
	border-radius: 3px;
}
#submit {
	width: 300px;
	height: 35px;
	background-color: #FF6A00;
	color: #fff;
	font-size: 1.0em;
	font-weight: bold;
	border-radius: 3px;
	border: 2px solid #FF6A00;
}
#feedback {
	display: none;
	width: 22%;
	height: 35px;
	border-radius: 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+16,05abe0+100 */
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 16%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(16%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 16%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 16%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 16%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 16%,#05abe0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
	position: fixed;
	z-index: 2;
	bottom: 15%;
	left: 35%;
	color: #fff;
	font-size: 1.4em;
	box-shadow: 2px 2px 7px 3px #04C1D6;
	font-weight: bold;
	padding: 18px 0 18px 70px;
}
#header {
	position: fixed;
	width: 90%;
	height: 120px;
	margin-left: 5%;
	text-shadow: 2px 2px 2px black;
	color: white;
	text-align: center;
	z-index: 1;
	top: 0px;
	background: rgba(17,89,141,1);
	background: -moz-linear-gradient(top, rgba(17,89,141,1) 0%, rgba(15,70,118,1) 6%, rgba(31,73,127,1) 9%, rgba(31,73,127,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,89,141,1)), color-stop(6%, rgba(15,70,118,1)), color-stop(9%, rgba(31,73,127,1)), color-stop(100%, rgba(31,73,127,1)));
	background: -webkit-linear-gradient(top, rgba(17,89,141,1) 0%, rgba(15,70,118,1) 6%, rgba(31,73,127,1) 9%, rgba(31,73,127,1) 100%);
	background: -o-linear-gradient(top, rgba(17,89,141,1) 0%, rgba(15,70,118,1) 6%, rgba(31,73,127,1) 9%, rgba(31,73,127,1) 100%);
	background: -ms-linear-gradient(top, rgba(17,89,141,1) 0%, rgba(15,70,118,1) 6%, rgba(31,73,127,1) 9%, rgba(31,73,127,1) 100%);
	background: linear-gradient(to bottom, rgba(17,89,141,1) 0%, rgba(15,70,118,1) 6%, rgba(31,73,127,1) 9%, rgba(31,73,127,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11598d', endColorstr='#1f497f', GradientType=0 );
}
#header h1 {
	font-size: 2.5rem;
}
#disable{
	top:0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	opacity: 0.2;
	background-color: white;
}