#container {
	width: 90%;
	margin-top: 30px;
	margin-left: 5%;
}
#tab_container {
	width: 100%;
	height: 40px;
}
#content_container {
	width: 100%;
	min-height: 350px;
	margin-top: -4px;
	margin-bottom: 10px;
	border-radius: 7px;
	border: 2px solid #aaa;
}
.tab {
	position: relative;
	min-width: 150px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	margin-left: 5px;
	background-color: #f5f5f5;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
	box-sizing: border-box;
	transition: box-shadow 0.2s;
}
.border {
	padding: 8px;
	border-top: 2px solid #f5f5f5;
	border-bottom: 2px solid #aaa;
}
.selected {
	padding: 10px;
	box-shadow: -3px -3px 5px #8FC7CE;
}
.content {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	font-size: 1.3em;
	font-family: verdana;
	color: #363636;
}
.content input, select {
	width: 200px;
	height: 30px;
	border: 2px solid #999;
	border-radius: 5px;
	font-size: 1.2em;
}
.content input[type="radio"] {
	width: 18px;
	height: 18px;
}
.content a {
	text-decoration: none;
	color: #363636;
}
.content a:hover {
	text-decoration: underline;
}
table {
	margin-top: 30px;
	width: 80%;
	margin-left: 10%;
}
.right {
	float: right;
}
#image {
	display: none;
}
#frame {
	border: 4px solid #13F0B9;
	min-width: 170px;
	min-height: 190px;
	max-width: 170px;
	max-height: 190px;
	border-radius: 5px;
	overflow: hidden;
}
#frame img {
	width: 168px;
	height: 188px;
}
.button {
	margin-top: 20px;
	width: 100%;
	max-width: 200px;
	padding: 10px;
	background-color: #09ABB9;
	border: 2px solid #04CDDE;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: color 0.5s, background-color 0.5s;
}
.button:hover {
	color: #09ABB9;
	background-color: #fff;
}
#image_div {
	float: left;
}
.row {
  display: flex;
  text-align: center;
  margin-top: 20px;
}
.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:  center;
}
.row.header .column {
  padding: 0.4em;
}

.row.header {
	margin-bottom: 20px;
}
.row.contents {
	border-radius: 10px;
	margin-bottom: 20px;
}
.contents {
  position: relative;
}
.hover {
  width: 99%;
  display: none;
  z-index: 2;
  position: absolute;
  top:0;
  left: 0.3%;
  height: 100%;
  background-color:rgba(0,0,0,.3);
  color:white;
  border-radius: 7px;
  border: 2px solid #076375;
  overflow: hidden;
  cursor: pointer;
}
.frame {
	border-radius: 7px;
	border: 3px solid #C2F8FF;
	margin: 5px 0 5px 0;
}
.frame img {
	position: relative;
	top: 1px;
	border-radius: 5px;
}
.leftoptions {
	display: block;
	width: 120px;
	height: 30px;
	color: red;
	background-color: white;
	position: absolute;
	left: -130px;
	border-radius: 0px 5px 5px 0px;
}
.rightoptions {
	display: block;
	width: 160px;
	height: 30px;
	color: red;
	background-color: white;
	position: absolute;
	right: -170px;
	border-radius: 5px 0px 0px 5px;
}
.close {
	top: 5px;
}
.remove {
	top: 65px;
}
.money {
	top: 65px;
}
.fine {
	top: 5px;
}
#money-box {
	display: none;
	position: relative;
	background-color: black;
	width: 30%;
	height: 17%;
	min-height: 180px;
	min-width: 350px;
	border: 4px solid #000;
	border-radius: 7px;
	top: 29%;
	left: 34%;
	z-index: 11;
	color: #d9d9d9;
	box-shadow: 3px 3px 20px 3px black;
	text-align: center;
}
#money-head {
	font-size: 1.5em;
	font-weight: bold;
	padding: 15px 0 10px 0;
	background-color: #444;
	border-radius: 7px 7px 0 0;
	width: 100%;
	height: 30%;
	position: relative;
	box-sizing: border-box;
}
#money-content {
	padding: 10px 0 10px 0;
	text-align: center;
	background-color: #222;
	width: 100%;
	height: 31%;
	position: relative;
	box-sizing: border-box;
}
#money-foot {
	background-color: #444;
	width: 100%;
	border-radius: 0 0 7px 7px;
	height: 39%;
	position: relative;
	box-sizing: border-box;
	padding: 3px 0 7px 0;
}
#details {
	display: none;
	width: 55%;
	position: relative;
	background-color: #DEFFF8;
	left: 22.5%;
	top: 50px;
	min-height: 550px;
	max-height: 560px;
	min-width: 650px;
	z-index: 5;
	font-size: 1.3em;
	border-radius: 10px;
	border: 5px solid #fff;
	color: #08b;
	box-shadow: 3px 3px 20px 3px #666;
	overflow-y: auto;
}
#details a {
	color: #08b;
	text-decoration: none;
}
#details a:hover {
	text-decoration: underline;
}
#load {
	position: absolute;
	left: 46%;
	top: 49%;
	opacity: 0.8;
	font-style: italic;
}